{% extends "admin/change_form.html" %}
{% load static %}

{% block object-tools %}
    {{ block.super }}
    {% if original %}
        <div style="margin-left: 10px; display:inline-block;">
            <strong>Статус:</strong>
            {% if original.is_active %}
                🟢 Запущен
            {% else %}
                🔴 Остановлен
            {% endif %}
        </div>
        <a class="button" href="{% url 'admin:bot_toggle' original.pk %}">
            {% if original.is_active %}
                Остановить
            {% else %}
                Запустить
            {% endif %}
        </a>
    {% endif %}
{% endblock %}